ng-appointments-calendar-filter(
  (previous)="facade.previousWeek()",
  (next)="facade.nextWeek()",
  (create)="facade.openCreateAppointment()")

ng-appointments-calendar-list(
  [appointments]="facade.allAppointments$ | async",
  [weekDays]="facade.weekDays$ | async",
  (view)="facade.openViewAppointment($event)")

ng-appointments-calendar-create(
  [isVisible]="facade.isCreateAppointmentOpen$ | async",
  [createState]="facade.createState$ | async",
  (cancel)="facade.closeCreateAppointment()",
  (save)="facade.createAppointment($event)")

ng-appointments-calendar-view(
  [appointment]="facade.selectedAppointment$ | async",
  [isVisible]="facade.isViewAppointmentOpen$ | async",
  [cancelState]="facade.cancelState$ | async",
  (cancel)="facade.closeViewAppointment()",
  (cancelAppointment)="facade.cancelAppointment($event)")