.container
  div {{ offset }}
  div.header(*ngFor="let item of weekDays")
    div {{ item.name }}
    div.day([class.today]="item.isToday") {{ item.day }}
  ng-container(*ngFor="let cell of cells")
    div.hour {{ cell.hour }}
    div(*ngFor="let day of cell.days", [class.past]="day.isPast")
      a.appointment(*ngFor="let appointment of day.appointments", (click)="view.emit(appointment.id)")
        | {{ appointment.title }}
