.container
  div {{offset}}
  div.header(*ngFor="let item of weekDays")
    div {{ item.name }}
    div.day([class.today]="item.isToday") {{ item.day }}
  ng-container(*ngFor="let hour of hours")
    div.hour {{ hour.hour }}
    div(*ngFor="let day of weekDays")
      a.appointment(*ngFor="let appt of getAppointments(day.date, hour.key)")
        | {{appt.title}}
