nz-button-group.navigation
  button(nz-button, nzType="primary", (click)="onBack()")
    i(nz-icon nzType="left")
    | Back
  button(nz-button, nzType="primary", (click)="onNext()")
    | Next
    i(nz-icon nzType="right")
.container
  div {{offset}}
  div.header(*ngFor="let item of weekDays")
    div {{ item.name }}
    div.day([class.today]="item.isToday") {{ item.day }}
  ng-container(*ngFor="let hour of hours")
    div.hour {{ hour.hour }}
    div(*ngFor="let day of weekDays")
      a.appointment(*ngFor="let appt of getAppointments(day.key, hour.key)")
        | {{appt.title}}
