nz-modal([(nzVisible)]="isVisible" nzTitle="Book your appointment", (nzOnCancel)="cancel.emit()", (nzOnOk)="handleSave()")
  nz-alert(*ngIf="!!error" nzType="error", [nzDescription]="error", nzShowIcon)
  form(nz-form, nzLayout="vertical", [formGroup]="form",  (ngSubmit)="handleSave()", #formVar = "ngForm")
    nz-form-item
      nz-form-label(nzFor="title" nzRequired) Title
      nz-form-control([nzValidateStatus]="form.controls['title']" nzErrorTip="The title should be between 3 and 250 characters long!")
        input(nz-input placeholder="Title" formControlName="title")
    nz-form-item
      nz-form-label(nzFor="date", nzRequired) Date and Time
      nz-form-control([nzValidateStatus]="form.controls['date']" nzErrorTip="Please select a date for your appointment!")
        nz-date-picker(nzAllowClear="false", nzShowTime, nzFormat="yyyy-MM-dd HH:mm" formControlName="date")
    nz-form-item
      nz-form-label(nzFor="duration", nzRequired) Duration
      nz-form-control([nzValidateStatus]="form.controls['duration']" nzErrorTip="Please select the duration of your appointment!")
        nz-radio-group(nzButtonStyle="solid" formControlName="duration")
          label(nz-radio-button nzValue="60") 1 hour
          label(nz-radio-button nzValue="15") 15 minutes
